:root {
    --left-width: max(37vw,400px);
    --right-width: max(63vw, 550px);
    --shadow-color: #393939bb;
}

@font-face {
    font-family: "azonix";
    src: url(./fonts/Azonix.otf);
}

body {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.sidebar {
    background: url(./images/background.jpg);
    background-size: cover;
    width: var(--left-width);
    height: 100vh;
    display: flex;
}

.backgroundBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background: #282828ba;
    height: 180px;
    width: var(--left-width);
    margin-top: auto;
    margin-bottom: auto;
}

#logo {
    width: 80px;
    height: 80px;
}

#logoText {
    font-family: "azonix", sans-serif;
    font-size: 42px;
    color: white;
}

.formContainer {
    height: 100vh;
    background: #f6f6f6;
    width: var(--right-width);
    display: flex;
    align-items: center;
}

fieldset {
    width: var(--right-width);
    border: none;
    padding: 24px 0;
    background-color: white;
    box-shadow: 0 4px 4px -4px var(--shadow-color);
}

input,label,#subButton {
    display: block;
    margin-left: 48px;
}

#redInfo {
    margin-left: 51px;
    margin-bottom: 32px;
    font-size: 1.2rem;
}

input {
    width: 200px;
    margin-bottom: 28px;
    margin-top: 5px;
}

input:focus {
    border: 2px solid #3dc3ef;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 4px 4px -4px var(--shadow-color);
}

label {
    font-weight: lighter;
    letter-spacing: 0.7px;
    font-size: 1.1rem;
}

label.required::before {
    content: "*";
    color: red;
}

#star {
    color: red;
}

#phone {
    width: 130px;
}

#subButton {
    width: 230px;
    height: 50px;
    color: white;
    background-color: #497452;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 32px;
    box-shadow: 0 4px 4px -4px var(--shadow-color);
}

#subButton:hover {
    background-color: #7ba484;
}

#subButton:active {
    box-shadow: inset 0 0 10px var(--shadow-color);
}
